html
    head
      title Trade
      style
        include trade.css
    body
      | <h1>Trade</h1>
      | <button id="refresh" type="button">Refresh</button>
      | 
      | <div class="content">
      |   <div class="inventory">
      |     <h2>Your inventory</h2>
      |     <div id="inventory-items">
      |         <ul />
      |     </div>
      |   </div>
      |   
      |   <div class="trade row">
      |     <div class="source column">
      |       <h2>Offer <span id="my-offer-status">[P]</span></h2>
      |       <div id="my-offer-items">
      |           <ul />
      |       </div>
      |     </div>
      |     <div class="target column">
      |       <h2>Their offer <span id="their-offer-status">[P]</span></h2>
      |       <div id="their-offer-items">
      |           <ul />
      |       </div>
      |     </div>
      |   </div>
      | 
      |   <div class="action">
      |     <button id="accept" type="button">Accept</button>
      |     <button id="decline" type="decline">Decline</button>
      |   </div>
      | </div>
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='../trade.js')