html
    head
      title Trade
      style
        include trade.css
    body
      | <h1>Trade</h1>
      | <div class="content">
      |   <div class="inventory">
      |     <h2>Your inventory</h2>
      |     <div class="items">
      |         <ul>
      |           <a href=""><li>Item 1</li></a>
      |           <a href=""><li>Item 2</li></a>
      |           <a href=""><li>Item 3</li></a>
      |         </ul>
      |     </div>
      |   </div>
      |   
      |   <div class="trade row">
      |     <div class="source column">
      |       <h2>Offer</h2>
      |       <div class="items">
      |         <ul>
      |           <li>Item 1</li>
      |           <li>Item 2</li>
      |           <li>Item 3</li>
      |         </ul>
      |       </div>
      |     </div>
      |     <div class="target column">
      |       <h2>Their offer</h2>
      |       <div class="items">
      |         <ul>
      |           <li>Item 1</li>
      |           <li>Item 2</li>
      |           <li>Item 3</li>
      |         </ul>
      |       </div>
      |     </div>
      |   </div>
      | 
      |   <div class="action">
      |     <button type="button">Accept</button>
      |     <button type="decline">Decline</button>
      |   </div>
      | </div>
